/*Use nearest-neighbor interpolation for scaled images. See: https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas*/
canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

canvas.ztf-cutout {
    width: 126px;
    height: 126px;
    position: relative;
    right: 63px;
}
